@import "utils/variables";
@import "utils/global";
@import "animation/animations";
@import url("https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $body-color;
  color: $light;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  line-height: 26px;

  * {
    outline: 2px solid red;
  }
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 20px;
  background-color: $header-color;
  height: 100px;
  z-index: 100;

  transition: all 100ms ease;

  h1 {
    font-size: 32px;
    width: max-content;
  }

  label {
    display: none;
  }

  input {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;

    li {
      margin-right: 40px;

      a:hover {
        color: $red;
      }
    }
  }
}
@media (max-width: 800px) {
  header {
    width: 100%;
    justify-content: space-between;
    padding-left: 0;

    h1 {
      margin-left: 20px;
    }

    .hamburger-icon {
      opacity: 0.8;
      position: relative;

      input {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2);
        cursor: pointer;
        opacity: 0;
      }

      label {
        position: relative;
        display: block;
        width: 30px;
        height: 0.15em;
        background-color: $light;
        border-radius: 10px;

        &::before,
        &::after {
          border-radius: 10px;
          content: "";
          width: 100%;
          height: 0.15em;
          background-color: $light;
          position: absolute;
        }

        &::before {
          top: -10px;
        }
        &::after {
          bottom: -10px;
        }
      }
    }

    .menu__body {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      top: 100px;
      background-color: $header-color;

      ul {
        flex-direction: column;
        align-items: initial;
        background-color: $body-color;
        padding: 10px 20px 20px 20px;

        li {
          margin-top: 20px;
        }
      }
    }

    .menu__active {
      background-color: $body-color;
    }
  }
}

.header__style__onScroll {
  background-color: $body-color;
  position: sticky;
  z-index: 100;
  top: 0;
}

#scrollToTop {
  outline: 2px solid red;
  display: none;
  position: fixed;
  opacity: 0;
  bottom: 40px;
  right: 30px;
  z-index: 100;
  transform: rotate(-45deg);
  color: $red;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}

.banner {
  .container {
    margin-top: 100px;
    width: 80%;
    margin: 0 auto;
    display: flex;

    .intro {
      width: fit-content;
      height: fit-content;
      margin: auto;
      margin-right: 50px;

      .social_links {
        display: flex;
        align-items: center;

        .social_link {
          margin-right: 25px;
          margin-bottom: 10px;
          width: 52px;
          height: 52px;
          font-weight: 600;
          font-size: 22px;
          border-radius: 50%;
          border: 2px solid $red;
          display: grid;
          place-items: center;
          transition: background-color 200ms ease;
          cursor: pointer;

          &:hover {
            background-color: $red;
          }
        }
      }

      .typing {
        position: relative;
        margin-bottom: 50px;
        width: fit-content;
        font-family: monospace;
        margin-top: 50px;
        font-size: 62px;
        font-weight: bold;
        border-right: 5px solid transparent;
        white-space: nowrap;
        // outline: 2px solid green;

        &::after {
          content: "|";
          position: absolute;
          top: -80%;
          display: flex;
          align-items: center;
          right: 0;
          width: 100%;
          height: 70px;
          color: $caret-color;
          background: $body-color;
          animation: typing $animation-time steps($text-length) forwards,
            caret 1s infinite;
        }
      }

      p {
        font-size: 1.7em;
        margin-bottom: 50px;
        line-height: 40px;
      }

      .actions {
        display: flex;
        align-items: center;
        // outline: 2px solid red;

        .btn_myportfolio {
          padding: 15px 40px;
          border-radius: 50px;
          border: 2px solid $red;
          font-size: 1em;
          font-weight: 500;
          transition: background-color 100ms ease;
          margin-right: 40px;
          cursor: pointer;

          &:hover {
            background-color: $red;
          }
        }

        .btn_play {
          background-color: $red;
          padding: 15px 40px;
          border-radius: 50px;
          border: 2px solid $red;
          font-weight: 500;
          font-size: 20px;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .banner {
    .container {
      width: 100%;
      margin: 100px 0;

      img {
        display: none;
      }

      .intro {
        margin: 0 auto;

        .social_links {
          width: fit-content;
          flex-wrap: wrap;
          margin: 0 auto -20px auto;
          align-items: center;
          justify-content: center;
        }

        .typing {
          font-size: 50px;
          width: 100%;
          line-height: 1em;
          white-space: normal;
          text-align: center;
          border: none;
          margin-right: 10px;
          margin-left: 10px;

          &::after {
            content: none;
            animation: none;
          }
        }

        p {
          font-size: 1.2em;
          padding: 0 10px;
          text-align: center;
          margin: -20px auto 50px auto;
          line-height: 30px;
        }

        .actions {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .btn_myportfolio {
            margin-bottom: 20px;
            margin-right: 0;
          }
        }
      }
    }
  }
}

// -------------SERVICES-------------- //
.services {
  // outline: 2px solid green;
  padding-bottom: 100px;
  background-color: $header-color;

  .services_body {
    .container {
      // outline: 2px solid green;

      .services_cards {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 100px;

        .services_card {
          // outline: 2px solid red;
          background: RGB(35, 38, 58);
          padding: 50px 35px;
          transition: 0.5s;
          border-radius: 20px;
          max-width: 350px;
          height: 300px;
          transition: background-color 500ms ease;
          // margin: 10px;

          &:hover {
            background-color: $red;

            .icon {
              transform: rotateY(360deg);
              color: white;
            }
          }

          .icon {
            width: fit-content;
            margin-bottom: 40px;
            transition: all 800ms linear;
            font-size: 40px;
            color: $red;

            i {
              transition: all 200ms linear;
            }
          }

          h2 {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

.about {
  padding-bottom: 100px;
  .about_body {
    margin-top: 50px;

    .container {
      // outline: 2px solid red;

      width: 70%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .me-01 {
        width: 800px;
        margin-right: 130px;
      }

      .about_info_body {
        // outline: 2px solid red;

        .about_info_title {
          h1 {
            margin-bottom: 30px;
          }

          p {
            margin-bottom: 40px;
            // font-size: 1.1em;
          }
        }

        .about_infos {
          display: flex;
          align-items: center;

          .about_info {
            margin-right: 150px;
            .info {
              margin-bottom: 30px;
              p {
                font-size: 1.1em;
                color: $red;
                font-weight: bold;
                margin-bottom: 3px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .about {
    .about_body {
      .container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .me-01 {
          max-width: 90%;
          margin: 0;
        }

        .about_info_body {
          width: 100%;
          margin-top: 20px;
          padding: 0 20px;

          .about_infos {
            flex-direction: column;
            align-items: flex-start;

            .about_info {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

.skills {
  background-color: $header-color;
  // outline: 2px solid red;
  padding-bottom: 100px;

  .container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    // outline: 2px solid green;

    .skills_body {
      flex: 1;
      margin-top: 100px;

      .skills_container {
        .skill {
          margin-bottom: 30px;
          p {
            margin-bottom: 10px;
          }
          .skill_bar {
            height: 5px;
            display: block;
            position: relative;
            background: RGB(255, 74, 87) !important;

            // outline: 2px solid orange;

            .skill_count {
              border: 0.125rem solid rgb(255, 255, 255);
              position: absolute;
              top: -36px;
              right: 0;
              font-size: 12px;
              padding: 0px 12px !important;
              font-weight: 500;
              border-radius: 6px;
            }

            .triangle {
              width: 0;
              height: 0;
              border-width: 7px 5px 0 0;
              border-color: rgb(255, 255, 255) transparent transparent
                transparent;
              border-style: solid;

              position: absolute;
              bottom: -8px;
              right: 20px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .skills {
    .container {
      width: 100%;
      margin: 0 30px;
      align-items: flex-start;
      flex-direction: column;

      .skills_body {
        width: 100%;

        .skills_container {
          padding-right: 50px;

          .skill {
            margin-bottom: 30px;
            p {
              margin-bottom: 10px;
            }
            .skill_bar {
              height: 5px;
              display: block;
              position: relative;
              background: RGB(255, 74, 87) !important;

              // outline: 2px solid orange;

              .skill_count {
                border: 0.125rem solid rgb(255, 255, 255);
                position: absolute;
                top: -36px;
                right: 0;
                font-size: 12px;
                padding: 0px 12px !important;
                font-weight: 500;
                border-radius: 6px;
              }

              .triangle {
                width: 0;
                height: 0;
                border-width: 7px 5px 0 0;
                border-color: rgb(255, 255, 255) transparent transparent
                  transparent;
                border-style: solid;

                position: absolute;
                bottom: -8px;
                right: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.portfolio {
  .portfolio_header_options {
    // outline: 2px solid red;
    width: fit-content;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .option {
      margin-right: 20px;
      border: 2px solid transparent;
      border-radius: 30px;
      padding: 7px 20px;
      font-size: 1.1em;
      cursor: pointer;
      transition: background-color 75ms ease;

      &:hover {
        background-color: $red;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .option_active {
      border: 2px solid $red;
    }
  }

  .portfolio_body {
    // outline: 2px solid red;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;

    .grid {
      background: transparent;
    }

    /* clear fix */
    .grid:after {
      // content: "";
      // display: block;
      // clear: both;
    }

    /* ---- .grid-item ---- */

    .grid-sizer,
    .grid-item {
      max-width: 320px;
      margin: 15px;
    }

    .grid-item {
      float: left;
      border-radius: 6px;

      &:hover .overview {
        transform: scale(1);
      }

      .overview {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        transform: scale(0);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        padding: 30px;
        transition: all 0.5s ease;
      }
    }

    .grid-item img {
      display: block;
      max-width: 100%;
      border-radius: 6px;
    }
  }
}
@media (max-width: 800px) {
  .portfolio {
    .portfolio_header_options {
      width: 80%;
      margin: 50px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .option {
        margin-right: 20px;
        font-size: 1em;
        margin-bottom: 5px;
      }
    }
    .portfolio_body {
      width: 90%;
      margin: 0 auto;

      /* ---- .grid-item ---- */

      .grid-sizer,
      .grid-item {
        max-width: 100%;
      }
    }
  }
}

.pricing {
  background-color: $header-color;

  .pricing_body {
    // outline: 2px solid red;
    margin-top: 70px;

    .pricing_cards {
      padding-bottom: 100px;
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .pricing_card-active {
        border: 2px solid $red;
        position: relative;
        margin: 0 30px;

        .btn_purchase {
          background-color: $red;
        }

        &::before {
          content: "Recommended";
          display: grid;
          place-items: center;
          border-bottom-left-radius: 50px;
          border-bottom-right-radius: 50px;
          width: 50%;
          height: 30px;
          background-color: $red;
          position: absolute;
          top: 0;
          margin: o auto;
        }
      }

      .pricing_card {
        background-color: $body-color;
        width: 33%;
        padding: 50px 30px;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          margin-top: 10px;
        }

        .price {
          margin: 50px 0;
          font-size: 62px;
          font-weight: bold;
          position: relative;
          &::before {
            content: "$";
            position: absolute;
            left: -25px;
            bottom: -10px;
            font-size: 1.3rem;
            font-weight: normal;
          }
        }

        .pricing_info_container {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;

          .pricing_info_divider {
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.075);
            margin: 10px 0;
          }
        }
      }

      .btn_purchase {
        border-radius: 50px;
        border: 2px solid $red;
        transition: all 200ms ease-in;
        margin-top: 30px;
        padding: 15px 40px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background-color: $red;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .pricing {
    background-color: $header-color;

    .pricing_body {
      margin-top: 70px;

      .pricing_cards {
        width: 80%;
        flex-direction: column;

        .pricing_card {
          width: 100%;
          margin-bottom: 30px;
        }
      }
    }
  }
}

.total_works {
  background-color: $body-color;
  .container {
    width: 80%;
    margin: 0 auto;
    // outline: 2px solid red;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .work {
      display: flex;
      flex-direction: column;
      align-items: center;

      i {
        font-size: 50px;
        opacity: 0.7;
      }

      h1 {
        color: $red;
        margin: 30px 0;
        font-size: 52px;
      }

      p {
        font-size: 1.3em;
      }
    }
  }
}
@media (max-width: 800px) {
  .total_works {
    .container {
      flex-direction: column;
      .work {
        margin-bottom: 50px;
      }
    }
  }
}

.reviews {
  background-color: $header-color;
  padding-bottom: 100px;

  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .reviews_body {
      margin-top: 100px;
      flex: 1;
      transition: 200ms all ease-in;

      .reviews_container {
        .review_text_container {
          background-color: $body-color;
          padding: 40px 60px;
          padding-left: 80px;
          margin-bottom: 35px;
          position: relative;
          border-radius: 3px;
          max-width: 600px;
          font-style: italic;
          font-size: 1.1em;

          &::before {
            content: "\f10e";
            position: absolute;
            left: 35px;
            top: 35px;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 14px;
            font-size: 30px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }

          .review_rating {
            margin-top: 20px;
            color: $red;
          }
        }

        .review_user_actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .user_info {
            // outline: 2px solid green;
            display: flex;
            align-items: center;

            .avatar {
              width: 64px;
              height: 64px;
              border-radius: 50%;
              border: 2px solid white;
              display: grid;
              place-items: center;
              margin-right: 20px;

              img {
                max-width: 100%;
                object-fit: cover;
                border-radius: 50%;
              }
            }

            .info {
              p {
                font-size: 18px;
                font-weight: 600;
                transition: 200ms all ease-in;
              }
            }
          }
        }
      }
    }
    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // outline: 2px solid green;

      .action {
        display: grid;
        place-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid white;
        transition: all 200ms ease-in;
        cursor: pointer;

        &:last-child {
          margin-left: 20px;
          display: grid;
          place-items: center;
        }

        &:hover {
          border-color: $red;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .reviews {
    .container {
      width: 100%;
      margin: 0 20px;
      flex-direction: column;

      .reviews_body {
        .reviews_container {
          padding-right: 20px;
          .review_text_container {
            max-width: 100%;
            margin-right: 20px;
            text-align: center;
          }
        }
      }
      .actions {
        display: none;
      }
    }
  }
}

.worked_with {
  .container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;

    img {
      opacity: 0.3;
      transition: all 150ms ease-in;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
}
@media (max-width: 800px) {
  .worked_with {
    .container {
      flex-direction: column;

      img {
        margin-bottom: 60px;
      }
    }
  }
}

.blogs {
  background-color: $header-color;

  .blogs_body {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;

    .blog_cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .blog_card {
        max-width: 375px;
        background-color: $body-color;
        border-radius: 10px;

        img {
          max-width: 100%;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }

        .blog_info {
          padding: 20px 30px;
          .poster_info {
            font-size: 0.9em;
            display: flex;
            align-items: center;

            * {
              margin-right: 7px;
            }

            .blog_by {
              a {
                color: $red;
                transition: all 200ms ease;

                &:hover {
                  color: white;
                }
              }
            }
          }

          .title {
            margin: 20px 0;
            display: block;
            font-size: 1.3em;
            transition: all 200ms ease-in;
            cursor: pointer;

            &:hover {
              color: $red;
            }
          }

          .btn_readmore {
            color: $red;
            transition: all 200ms ease-in;
            font-size: 1em;
            font-weight: 600;
            cursor: pointer;
            width: fit-content;

            i {
              margin-left: 5px;
              transition: all 200ms ease-in;
            }

            &:hover {
              color: white;

              i {
                transform: translateX(-5px);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .blogs {
    .blogs_body {
      .blog_cards {
        flex-direction: column;

        .blog_card {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.contact {
  background-color: $header-color;
  .basic_contact_info {
    width: 75%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info_card {
      width: 350px;
      display: flex;
      background-color: $body-color;
      border-radius: 10px;
      padding: 20px;

      .icon {
        margin-right: 20px;
        font-size: 2em;
        color: $red;
      }

      .info {
        display: flex;
        flex-direction: column;

        .title {
          margin-bottom: 10px;
          font-weight: 600;
        }
      }
    }
  }

  .contact_form {
    width: 75%;
    margin: 50px auto;
    padding-bottom: 100px;
    input,
    textarea {
      background-color: $body-color;
      border-radius: 10px;
      color: white;
      font-size: 1.1em;
      outline-width: 0;
      border: none;
      width: 100%;
      padding: 20px;
      font-family: inherit;
    }

    .name_email {
      display: flex;
      margin-bottom: 30px;

      & > *:first-child {
        margin-right: 30px;
      }
    }

    textarea {
      margin: 30px 0;
    }

    .btn_sendMsg {
      padding: 18px 60px;
      cursor: pointer;
      display: inline-block;
      background: RGB(255, 74, 87) !important;
      border-radius: 100px;
      border: none;
    }
  }
}
@media (max-width: 800px) {
  .contact {
    .basic_contact_info {
      width: 90%;
      flex-direction: column;

      .info_card {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .contact_form {
      width: 90%;

      .name_email {
        flex-direction: column;

        & > *:first-child {
          margin-bottom: 30px;
        }
      }
    }
  }
}

footer {
  .container {
    width: 55%;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;

    h1 {
      margin-bottom: 50px;
    }

    p {
      font-size: 1.2em;
      line-height: 1.5em;
      opacity: 0.8;
    }

    .social_links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: fit-content;
      margin: 50px auto 100px auto;
      .social_link {
        margin-right: 25px;
        width: 52px;
        height: 52px;
        font-weight: 600;
        font-size: 22px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: background-color 200ms ease;
        background-color: $header-color;
        cursor: pointer;

        &:hover {
          background-color: $red;
        }
      }
    }
  }

  p {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;

    a {
      color: $red;
    }
  }
}
@media (max-width: 800px) {
  footer {
    .container {
      width: 90%;
    }

    p {
      width: 90%;
      text-align: center;
    }
  }
}

.section_header {
  // outline: 2px solid red;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  .tag {
    color: $red;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 18px;
  }

  h1 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 40px;
    line-height: 80px;
  }

  .section_info {
    max-width: 500px;
    text-align: center;
    margin-bottom: 40px;
  }

  .divider {
    width: 50px;
    height: 4px;
    background-color: $red;
  }
}
@media (max-width: 800px) {
  .section_header {
    width: 90%;
  }
}

.section_header_v2 {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  flex: 1;
  margin-right: 100px;

  // outline: 2px solid white;

  .tag {
    color: $red;
    font-weight: bold;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 4em;
    margin-bottom: 30px;
    // max-width: 400px;
    line-height: 1em;
  }

  .section_info_v2 {
    max-width: 500px;
    margin-bottom: 40px;
  }

  .btn_hireme {
    padding: 15px 40px;
    border-radius: 30px;
    width: fit-content;
    border: 2px solid $red;
    font-weight: 600;
    transition: background-color 100ms ease;
    margin-right: 40px;
    cursor: pointer;

    &:hover {
      background-color: $red;
    }
  }
}
